body{
    width: 100%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}

.header{
    width: 85%;
    margin: auto;
}
.navigations{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    list-style: none;
    align-items: center;
}
.logo>li img{
    height: 150px;
    width: 150px;
}
.logo>li span{
    align-items: center;
    color: rgb(10, 191, 246);
}
.logo>li h1{
    font-size: 50px;
}
.nav{
    width: 45%;
}
.nav>ul{
    display: flex;
}
nav>ul>li{
    list-style: none;
    margin-right: 30px;
}
nav>ul>li a{

    text-decoration: none;
    color: rgb(167, 167, 167);
}

.banner-img{
    width: 90%;
    height: 500px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    margin: auto;
    background-repeat: no-repeat;
}
.banner-container{
    width: 60%;
    margin: auto;
    padding-top: 106px;
    align-items: center;
    text-align: center;
}
.banner-container>h1, .banner-container>p{
    color: white;
}
.where-to{
    display: inline-flex;
    padding: 16px;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    
}
.where-to>input{
    width: 154px;
    height: 30px;
    border: none;
    padding-left: 10px;
    border-radius: 8px;
    background: #FFF;
}
.where-to>button{
    border-radius: 8px;
    background: #FF5400;
    width: 104px;
    height: 30px;
    border: none;
    color: white;
}


/* popular */

.popular{
    display: flex;
    width: 80%;
    justify-content: space-between;    
    padding-top: 100px;
    margin: auto
}

.tour-list{
    width: 45%;
}
.tour-list>h1{
    font-size: 40px;
}
.tour-list>p{
    line-height: 25px;
}
.tour-list>ul{
    line-height: 25px;
}
.tour-list>button{
    border-radius: 8px;
    background: #FF5400;
    width: 114px;
    height: 45px;
    border: none;
    color: white;
    font-weight: 800;
    font-size: 14px;
    padding: 5px 5px;
}

/* destination choice */
.destination-choice{
    width: 85%;
    margin: auto;
}
.destination-title{
    text-align: center;
}

.row{
    height: 300px;
    display: flex;
    gap: 5px;
    margin: 5px;
    width: 100%;
}
.one{
    background-color: #FF5400;
    width: 100%;
    background: url(../Images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.two{
    background-color: #FF5400;
    width: 100%;
    background: url(../Images/Rectangle\ 7.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.four{
    background-color: #FF5400;
    width: 100%;
    background: url(../Images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.three{
    background-color: #FF5400;
    width: 100%;
    background: url(../Images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.five{
    background-color: #FF5400;
    width: 100%;
    background: url(../Images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.six{
    background-color: #FF5400;
    width: 100%;
    background: url(../Images/Rectangle\ 10.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.seven{
    background-color: #FF5400;
    width: 100%;
    background: url(../Images/Rectangle\ 11.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}


/* card */
.why{
    width: 85%;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 400px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
}
.card img {
    width: 64px;
    height: 64px;
    border-radius: 8px;
}
.card h2 {
    margin-top: 10px;
    color: #333;
}
.card p {
    color: #666;
}
.offwhite{
    background-color: bisque;
}
.lightblue{
    background-color: lightblue;
}
.lightpink{
    background-color: lightpink;
}

/* llllllll */

.deals{
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 16px;
    background: url(../Images/Group\ 39.png), lightgray 50% / cover no-repeat;
    margin: auto;
    display: flex;
    justify-content:right;
    align-items: center;
    margin-top: 40px;
}
.dealbox{
    width: 579px;
    height: 389px;
    flex-shrink: 0;border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin-right: 40px;
}
.middle{
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 16px;
    background: url(../Images/Group\ 40.png), lightgray 50% / cover no-repeat;
    margin: auto;
    display: flex;
    justify-content:left;
    align-items: center;
    margin-top: 40px;
}
.dealbox{
    width: 579px;
    height: 389px;
    flex-shrink: 0;border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin-left: 40px;
    text-transform: capitalize;
    padding-top: 30px;
    align-items: center;
}
.inside-deal{
    width: 80%;
    margin: auto;
    line-height: 1.6;
}
.dealspromo{
    padding: 20px;
}
.btn{
    border-radius: 8px;
    background: #FF5400;
    width: 114px;
    height: 45px;
    border: none;
    color: white;
    font-weight: 800;
    font-size: 14px;
    padding: 5px 5px;
    margin-top: 30px;
}
.snav>ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.newsletter{
    display: flex;
    margin: auto;
    width: 85%;
    gap: 25px;
    margin-top: 100px;
}
.form-container{
    width: 474px;
    height: 422px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5400;
    display: flex;
    flex-wrap: wrap;
    
}
.form-title{
    width: 400px;
    margin: auto;
}
.save70{
    width: 672px;
    height: 422px;
    flex-shrink: 0;
    border-radius: 16px;
    background: url(../Images/Rectangle\ 8\ \(1\).png), lightgray 50% / cover no-repeat;
}
.save70>div{
    width: 324px;
height: 120px;
transform: rotate(-45deg) translateX(104px) translateY(422px);
flex-shrink: 0;
border-radius: 16px;
background: #FF5400;
text-align: center;
padding-top: 20px;
text-transform: uppercase;
border: 4px solid white;
color: white;
}
.input{
    width: 450px;
    margin: auto;
}
.input>input{
    display: block;
    margin: 20px;
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    border: none;
    background: rgba(19, 19, 24, 0.05);
    padding-left: 20px;
}
.input>button{
    display: block;
    margin: 20px;
    width: 416px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: white;
    font-size: 1em;
    text-transform: capitalize;
    font-weight: 600;
}


/* footer */
.footer{
    width: 100%;
    height: 582px;
    background: rgba(19, 19, 24, 0.05);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
}
.logo-travel>img{
    height: 150px;
    width: 150px;
}
.logo-travel{
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.footer>p{
    text-align: center;
    width: 650px;
}
.icons{
    display: flex;
    justify-content: center;
}
.icons>i{
    margin: 30px;
}

/* responsive */
@media screen and (max-width: 576px) {
    body{
        width: 100%;
        display: block;
    }
    .header{
        display: block;
        grid-template-columns: 1fr;
    }
    .navigations{
        flex-direction: column;
    }
    .popular{
        flex-direction: column;
    }
    .row{
        flex-direction: column;
        margin: auto;
    }
    .newsletter{
        flex-direction: column;
    }
    .where-to{
        flex-direction: column;
    }
    .row>div{
        margin-top: 10px;
    }
}